resources:
- name: marcelo-instance-poc
  type: compute.v1.instance
  properties:
    zone: us-central1-a
    machineType: zones/{{ properties["zone"] }}/machineTypes/{{ properties["machineType"] }}
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        sourceImage: projects/debian-cloud/global/images/family/debian-9
    networkInterfaces:
    - network: global/networks/{{ properties["network"] }}
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
    metadata:
      items:
      - key: startup-script
        value: |
          #!/bin/bash
          sudo apt-get install apache2 php7.0 -y
    tags:
      items:
        - http-server
        - firewall-rule-internet

- name: firewall-rule-internet
  type: compute.v1.firewall
  properties:
    allowed:
      - IPProtocol: TCP
        ports: [ 80, 8080 ]
    sourceRanges: [ 0.0.0.0/0 ]
